[submodule "MX_Alps_Hybrid.pretty"]
	path = scratch/MX_Alps_Hybrid.pretty
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.pretty
[submodule "random-keyboard-parts.pretty"]
	path = scratch/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
